<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <title><%= current_page.data.title || "Rachael Momber | Web Development Portfolio" %></title>
    <meta name="description" content="A small collection of my most recent projects. Come see what I've made and what's to come!">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Rachael Momber | Web Development Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rmomber.netlify.app" />
    <meta property="og:image" content="<%= image_path '../images/PortfolioPreview' %>" />
    <meta property="og:description" content="A small collection of my most recent projects. Come see what I've made and what's to come!" />
    <meta property="og:site_name" content="Rachael Momber | Web Development Portfolio" />
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 20px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #d0a046;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #e9cb8d;
        border-radius: 2px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #e9cb8d;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  </head>
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
