<div class="projects-intro">
  <div class="projects-title">
    Projects
  </div>
  <div class="description">
    <p style="text-align: center"><%= convert_to_bionic("Below are some of my most recent projects. Feel free to look around and reach out!") %></p>
  </div>
</div>
<div class="cards">
  <% data.projects.each_with_index do |project, index| %>
    <%# create individual cards %>
    <%# set card alignment %>
    <div class="card <%= index % 2 == 1 ? 'card-right' : '' %>">
      <%= image_tag project.image, alt: "project image" %>
      <%# set text alignment %>
      <div class=<%= index % 2 == 1 ? 'right-align' : '' %>>
        <h2><%= convert_to_bionic(project.name) %></h2>
        <p>Role: <strong><%= project.role %></strong></p>
        <h3><%= convert_to_bionic(project.description) %></h3>
        <h2><%= project.tech.html_safe %></h2>
        <ul class="stats">
          <li>
            <var><%= project.developers %></var>
            <label><%= convert_to_bionic("Developers") %></label>
          </li>
          <li>
            <var><%= project.days %></var>
            <label><%= convert_to_bionic("Days") %></label>
          </li>
          <li>
            <var><%= project.cups %></var>
            <label><%= convert_to_bionic("Cups of Tea") %></label>
          </li>
        </ul>
        <nav class="buttons">
          <a href=<%= project.code_url %> class="primary button", target='_blank'>View Code</a>
          <% if project.url.present? %>
            <a href=<%= project.url %> class="button", target='_blank'>Visit Site</a>
          <% else %>
            <a href="https://github.com/RLMP44/" class="button", target='_blank'>Visit GitHub</a>
          <% end %>
        </nav>
      </div>
    </div>
  <% end %>
</div>
