<div class="cards">
  <% data.projects.each do |project| %>
    <div class="card">
      <%= image_tag project.image, alt: "project image" %>
      <div>
        <h2><%= project.name %></h2>
        <h3><%= project.description %></h3>
        <ul class="stats">
          <li>
            <var><%= project.developers %></var>
            <label>Developers</label>
          </li>
          <li>
            <var><%= project.days %></var>
            <label>Days</label>
          </li>
          <li>
            <var><%= project.cups %></var>
            <label>Cups of Tea</label>
          </li>
        </ul>
        <nav class="buttons">
          <a href= <%= project.url %> class="primary button", target='_blank'>View Code</a>
          <button class="primary">View Code</button>
          <button>Visit Site</button>
        </nav>
      </div>
    </div>
  <% end %>
</div>
<%# link_to project.url, class: 'external-link', target: '_blank' do %>
  <%# <i class="fas fa-external-link-alt"></i> %>
  <%# end %>
